<ion-view view-title="Hecho" cache-view="false">
  <ion-content>
    <ion-list ng-repeat="date in dates | orderBy:'date'" >
      <div class="item item-divider">{{ date.date | date:'shortDate' }}</div>
      <ion-item ng-repeat="todo in date.todos | orderBy:'date' | filter:{done: true}" class="item-icon-left my-todo" ng-click="editTodo(todo)">
        <i class="icon ion-checkmark" ng-class="{'done': todo.done}"></i>
        <h2>{{todo.name}}</h2>
        <p>{{todo.text}}</p>
        <span class="time">{{ todo.date | date: 'shortTime' }}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
